:root{

--bg:#f7f8fa;
--card:#ffffff;

--text:#222;

--primary:#2e7d32;

}

[data-theme="dark"]{

--bg:#111827;

--card:#1f2937;

--text:#ffffff;

--primary:#4ade80;

}

body{

background:var(--bg);

color:var(--text);

transition:.3s;

}

.card{

background:var(--card);

border:none;

border-radius:20px;

}

.nav-card{

padding:25px;

text-align:center;

cursor:pointer;

}

.nav-card:hover{

transform:translateY(-4px);

}

.icon{

font-size:42px;

}